<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-start">
        <p class="lead">集計中です</p>
      </div>
    </main>
    <script src="/js/wait.js"></script>
  </body>
</html>
