<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>集計でエラーが発生しました</h1>
        <p class="lead">
          お手数ですが&nbsp;@jak_ssbu&nbsp;のTwitterアカウントまでご連絡をお願いいたします。
        </p>
      </div>
    </main>
  </body>
</html>
