<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head', {page_title: 'エラー'}) %>
  <body>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>集計でエラーが発生しました</h1>
        <p class="lead">
          お手数ですが&nbsp;
          <a
            href="https://twitter.com/jak_ssbu"
            class="link-primary"
            target="_blank"
            rel="noopener noreferrer"
            >@jak_ssbu</a
          >
          &nbsp;までご連絡をお願いいたします。
        </p>
      </div>
    </main>
  </body>
</html>
