<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head', {page_title: '集計中'}) %>
  <body>
    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>集計中です</h1>
        <p class="lead">
          長い場合は数十分かかる場合がありますので、しばらく経っても集計が終わらない場合は後ほどアクセスしてください
        </p>
      </div>
    </main>
    <script src="/js/wait.js"></script>
  </body>
</html>
