<!DOCTYPE html>
<html lang="ja">
  <body>
    <main class="px-3">
      <a href="/jpr" class="btn btn-lg btn-secondary fw-bold">JPRを見る</a>
      <a href="/uspr" class="btn btn-lg btn-secondary fw-bold">USPRを見る</a>
    </main>
  </body>
</html>
