<!DOCTYPE html>
<html lang="ja">
  <%- include('../_partials/head') %>
  <body>
    <%- include('../_partials/header', {currentPage: 'match'}) %>

    <main class="px-3">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">対戦状態</h1>
        <p class="lead">
          <% if (matchData.status < 0) { %> 対戦中止 <% } else if
          (matchData.status === 1) { %> 対戦終了 <% } else { if
          (!matchData.roomId) { %> 部屋ID入力待ち <% } else if
          (!matchData.user1MatchData) { %> マッチング待ち <% } else { %> 対戦中
          <% } }%>
        </p>
      </div>
      <div>
        <p>ルームID</p>
        <span>ルームIDを入力してください</span>
        <span>ルームIDを修正してください</span>
        <form
          class="send-room-id-form"
          action="/match/room"
          accept-charset="UTF-8"
          method="POST"
        >
          <label for="form-room-id">ルームID</label>
          <input
            name="roomId"
            type="text"
            class="form-control"
            id="room-ID"
            placeholder=""
            minlength="5"
            maxlength="5"
            required
          />
          <button type="submit" class="btn btn-lg btn-block form-submit">
            送信
          </button>
        </form>
      </div>
      <%- include('./_partials/player', {twitterData: twitterData}) %>
    </main>
  </body>
</html>
