<!DOCTYPE html>
<html lang="ja">
  <%- include('_partials/head') %>
  <body>
    <header class="mb-auto">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/my">マイページ</a></li>
            <li><a href="/match">レーティング対戦</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="px-3">
      <div>
        <p>ルームID</p>
        <span>ルームIDを入力してください</span>
        <span>ルームIDを修正してください</span>
        <form
          class="send-room-id-form"
          action="/match/room"
          accept-charset="UTF-8"
          method="POST"
        >
          <label for="form-room-id">ルームID</label>
          <input
            name="roomId"
            type="text"
            class="form-control"
            id="room-ID"
            placeholder=""
            minlength="5"
            maxlength="5"
            required
          />
          <button type="submit" class="btn btn-lg btn-block form-submit">
            送信
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
